# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
*.log

# Java
*.class

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Maven-specific files
mvnw
.mvn/

# Logs
log/
*.log

# Compiled bytecode
/target/

# Dependencies
/bin/
/build/
/.mvn/